i{ padding-left: 1em}
b,i,h1{color: #0d6efd;}
p{padding-left: 1em}
#content{background-color: lightgray; margin:   3% 0 0 25%; max-width: fit-content; text-align: center; padding: 1%; border-radius: 5%;}
