body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.toggle-buttons {
    margin: 20px 0;
}

.toggle-buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.toggle-buttons button:hover {
    background-color: #0056b3;
}

.form-container {
    display: none;
    margin-top: 20px;
}

.form-container.active {
    display: block;
}

form input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

form button:hover {
    background-color: #218838;
}
.containeur-center {
    max-width: 400px;
    margin: 40px auto;
    padding: 1rem;
    background: #d5d6d6;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;          /* Active Flexbox */
    flex-direction: column; /* Aligne en colonne */
    align-items: center;     /* Alignement horizontal */
}
h2{
    text-align: center;
}
